@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_default {
@include widgets_brease_DateTimeInput_base; 
	font-family: Arial;
	font-size: 16px;
@include font-weight-bold(false);
@include text-alignment(right);
&:not(.active):not(.disabled) span {
	color: rgba(31, 31, 31, 1);
}
&:not(.active):not(.disabled) {
	background-color: rgba(255, 255, 255, 1);
}
	border-style: solid;
&.active {
	border-style: solid;
}
&:not(.disabled):not(.active) {
	border-width: 2px 6px 2px 2px;
}
&:not(.active):not(.disabled) {
	border-color: rgba(255, 136, 0, 1);
}
@include border-radius(5px);
&.disabled {
	background-color: rgba(210, 210, 210, 1);
}
&.disabled span {
	color: rgba(110, 110, 110, 1);
}
&.disabled {
	border-width: 2px;
}
&.disabled {
	border-color: rgba(210, 210, 210, 1);
}
&.active:not(.disabled) span {
	color: rgba(31, 31, 31, 1);
}
&.active:not(.disabled) {
	background-color: rgba(255, 255, 255, 1);
}
&.active:not(.disabled) {
	border-width: 2px 6px 2px 2px;
}
&.active:not(.disabled) {
	border-color: rgba(31, 31, 31, 1);
}

}
