@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/TextKeyPad/meta/TextKeyPad_base";
.widgets_brease_TextKeyPad_style_default {
@include widgets_brease_TextKeyPad_base; 
	font-family: Arial;
	background-color: rgba(51, 51, 51, 1);
button.active {
	color: rgba(255, 255, 255, 1);
}
button.selected {
	color: rgba(255, 255, 255, 1);
}
button.active {
	background-color: rgba(255, 136, 0, 1);
}
button.selected {
	background-color: rgba(255, 136, 0, 1);
}
button {
	color: rgba(0, 0, 0, 1);
}

}
