@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/NumPad/meta/NumPad_base";
.widgets_brease_NumPad_style_default {
@include widgets_brease_NumPad_base; 
	font-family: Arial;
button {
	font-family: Arial;
}
	border-color: rgba(110, 110, 110, 1);
header {
	background-color: rgba(110, 110, 110, 1);
}
&.arrowLeft .breaseWindowArrow {
	border-right-color: rgba(110, 110, 110, 1);
}
&.arrowRight .breaseWindowArrow {
	border-left-color: rgba(110, 110, 110, 1);
}
&.arrowTop .breaseWindowArrow {
	border-bottom-color: rgba(110, 110, 110, 1);
}
&.arrowBottom .breaseWindowArrow {
	border-top-color: rgba(110, 110, 110, 1);
}
.numpadHeader {
@include backGroundGradient('linear-gradient(to bottom,rgba(110, 110, 110, 1) 0%,rgba(110, 110, 110, 1) 100%)');
}
.breaseNumPadButtons button.active {
	color: rgba(255, 255, 255, 1);
}
.breaseNumPadButtons button.active .breaseNumPadDeleteIcon {
@include svgcolordelete('rgba(255, 255, 255, 1)');
}
.breaseNumPadButtons button.active .breaseNumPadEnterIcon {
@include svgcolorenter('rgba(255, 255, 255, 1)');
}
.breaseNumPadButtons button.active {
	background-color: rgba(255, 136, 0, 1);
}
.breaseNumPadButtons button {
	color: rgba(0, 0, 0, 1);
}
.maxValueBox .maxValue {
	color: rgba(0, 0, 0, 1);
}
.maxValueBox label {
	color: rgba(0, 0, 0, 1);
}
.minValueBox .minValue {
	color: rgba(0, 0, 0, 1);
}
.minValueBox label {
	color: rgba(0, 0, 0, 1);
}
.breaseNumPadDeleteIcon {
@include svgcolordelete('rgba(0, 0, 0, 1)');
}
.breaseNumPadEnterIcon {
@include svgcolorenter('rgba(0, 0, 0, 1)');
}
@include border-radius(5px);
.numpadHeader {
@include border-radius(5px);
}

}
