@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/TextPad/meta/TextPad_base";
.widgets_brease_TextPad_style_default {
@include widgets_brease_TextPad_base; 
	font-family: Arial;
	font-size: 12px;
	border-color: rgba(31, 31, 31, 1);
	border-style: solid;
	border-width: 2px;
&.ace-brace span.ace_string {
	color: rgba(255, 255, 255, 1);
}
&.ace-brace {
	background-color: rgba(51, 51, 51, 1);
}
&.ace-brace .ace_gutter {
	color: rgba(255, 255, 255, 1);
}
&.ace-brace .ace_gutter {
	background: rgba(31, 31, 31, 1);
}
&.ace-brace div.ace_selection {
	background: rgba(255, 136, 0, 1);
}
&.ace-brace div.ace_active-line {
	background: rgba(92, 92, 92, 1);
}
&.ace-brace .ace_gutter-active-line {
	background: rgba(92, 92, 92, 1);
}

}
