@import "mixins.scss";
#SfMP171_contentDetails_SfMP171_TabControlTableConnect {	@include elemTop(10);
}
#SfMP171_contentDetails_SfMP171_TabControlTableConnect {	@include elemLeft(10);
}
#SfMP171_contentDetails_SfMP171_TabControlTableConnect {	@include elemWidth(430);
}
#SfMP171_contentDetails_SfMP171_TabControlTableConnect {	@include elemHeight(330);
}
#SfMP171_contentDetails_SfMP171_TabControlTableConnect {	z-index: 0;
}
#SfMP171_contentDetails_SfMP171_tabItemConnectDetails_breaseTabItemTab {	&.tabItem {
		@include elemWidth(100);
	}
}
#SfMP171_contentDetails_SfMP171_tabItemConnectDetails_breaseTabItemTab {	&.tabItem {
		@include elemHeight(30);
	}
}
#SfMP171_contentDetails_SfMP171_tabItemConnectDetails {	z-index: 0;
}
#SfMP171_contentDetails_SfMP171_tabItemConnectDetails_breaseTabItemTab {	&.tabItem {
		padding: 0px;
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	@include elemTop(40);
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	@include elemLeft(10);
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	@include elemWidth(410);
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	@include elemHeight(100);
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	z-index: 0;
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected.override:not(.disabled):not(.activeInput) {
		background-color: rgba(192, 192, 192, 1);
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected:not(.override):not(.disabled):not(.activeInput) {
		background-color: rgba(192, 192, 192, 1);
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override:not(.disabled):not(.activeInput) {
		@include active-background-color(rgba(192, 192, 192, 1));
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override:not(.disabled):not(.activeInput) {
		@include active-background-color(rgba(192, 192, 192, 1));
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	&:not(.disabled) .horizontalOrientation .tableCells tbody tr.even td.selected:not(.override):not(.disabled):not(.activeInput) {
		@include active-background-color(rgba(192, 192, 192, 1));
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowAppl {	&:not(.disabled) .horizontalOrientation .tableCells tbody tr.odd td.selected:not(.override):not(.disabled):not(.activeInput) {
		@include active-background-color(rgba(192, 192, 192, 1));
	}
}
#SfMP171_contentDetails_SfMP171_TableItem1 {	z-index: 0;
}
#SfMP171_contentDetails_SfMP171_TableItem2 {	z-index: 1;
}
#SfMP171_contentDetails_SfMP171_TableItem3 {	z-index: 2;
}
#SfMP171_contentDetails_SfMP171_TableItem4 {	z-index: 3;
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	@include elemTop(180);
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	@include elemLeft(10);
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	@include elemWidth(410);
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	@include elemHeight(100);
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	z-index: 1;
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected.override:not(.disabled):not(.activeInput) {
		background-color: rgba(192, 192, 192, 1);
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected:not(.override):not(.disabled):not(.activeInput) {
		background-color: rgba(192, 192, 192, 1);
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override:not(.disabled):not(.activeInput) {
		@include active-background-color(rgba(192, 192, 192, 1));
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override:not(.disabled):not(.activeInput) {
		@include active-background-color(rgba(192, 192, 192, 1));
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	&:not(.disabled) .horizontalOrientation .tableCells tbody tr.even td.selected:not(.override):not(.disabled):not(.activeInput) {
		@include active-background-color(rgba(192, 192, 192, 1));
	}
}
#SfMP171_contentDetails_SfMP171_tableDetailsShowMOp {	&:not(.disabled) .horizontalOrientation .tableCells tbody tr.odd td.selected:not(.override):not(.disabled):not(.activeInput) {
		@include active-background-color(rgba(192, 192, 192, 1));
	}
}
#SfMP171_contentDetails_SfMP171_TableItem5 {	z-index: 0;
}
#SfMP171_contentDetails_SfMP171_TableItem6 {	z-index: 1;
}
#SfMP171_contentDetails_SfMP171_TableItem7 {	z-index: 2;
}
#SfMP171_contentDetails_SfMP171_TableItem8 {	z-index: 3;
}
#SfMP171_contentDetails_Label1 {	@include elemTop(20);
}
#SfMP171_contentDetails_Label1 {	@include elemLeft(10);
}
#SfMP171_contentDetails_Label1 {	@include elemAutoWidth(210);
}
#SfMP171_contentDetails_Label1 {	@include elemAutoHeight(16);
}
#SfMP171_contentDetails_Label1 {	z-index: 2;
}
#SfMP171_contentDetails_Label1 {	@include text-alignment-all('left');
}
#SfMP171_contentDetails_Label1 {	font-size: 15px;
}
#SfMP171_contentDetails_Label1 {	@include font-weight-bold(true);
}
#SfMP171_contentDetails_Label2 {	@include elemTop(160);
}
#SfMP171_contentDetails_Label2 {	@include elemLeft(15);
}
#SfMP171_contentDetails_Label2 {	@include elemAutoWidth(205);
}
#SfMP171_contentDetails_Label2 {	@include elemAutoHeight(16);
}
#SfMP171_contentDetails_Label2 {	z-index: 3;
}
#SfMP171_contentDetails_Label2 {	@include text-alignment-all('left');
}
#SfMP171_contentDetails_Label2 {	font-size: 15px;
}
#SfMP171_contentDetails_Label2 {	@include font-weight-bold(true);
}
#SfMP171_contentDetails_SfMP171_LabelSdApplUdidMsg {	@include elemTop(0);
}
#SfMP171_contentDetails_SfMP171_LabelSdApplUdidMsg {	@include elemLeft(170);
}
#SfMP171_contentDetails_SfMP171_LabelSdApplUdidMsg {	@include elemAutoWidth(255);
}
#SfMP171_contentDetails_SfMP171_LabelSdApplUdidMsg {	@include elemAutoHeight(16);
}
#SfMP171_contentDetails_SfMP171_LabelSdApplUdidMsg {	z-index: 4;
}
#SfMP171_contentDetails_SfMP171_LabelSdApplUdidMsg {	& span {
		color: rgba(255, 0, 0, 1);
	}
}
#SfMP171_contentDetails_SfMP171_LabelSdApplUdidMsg {	@include text-alignment-all('center');
}
#SfMP171_contentDetails_SfMP171_LabelSdApplUdidMsg {	font-size: 14px;
}
#SfMP171_contentDetails_SfMP171_LabelSdApplUdidMsg {	@include font-weight-bold(true);
}
#SfMP171_contentDetails_SfMP171_tabItemHWTree_breaseTabItemTab {	&.tabItem {
		@include elemWidth(100);
	}
}
#SfMP171_contentDetails_SfMP171_tabItemHWTree_breaseTabItemTab {	&.tabItem {
		@include elemHeight(30);
	}
}
#SfMP171_contentDetails_SfMP171_tabItemHWTree {	z-index: 1;
}
#SfMP171_contentDetails_SfMP171_paperHWTreeConnect {	@include elemTop(10);
}
#SfMP171_contentDetails_SfMP171_paperHWTreeConnect {	@include elemLeft(30);
}
#SfMP171_contentDetails_SfMP171_paperHWTreeConnect {	@include elemWidth(200);
}
#SfMP171_contentDetails_SfMP171_paperHWTreeConnect {	@include elemHeight(270);
}
#SfMP171_contentDetails_SfMP171_paperHWTreeConnect {	z-index: 0;
}
