@import "mixins.scss";
div[data-brease-dialogId='SfMP193_dialogArSimInfo'] {
	.breaseDialogWindowHeader div.innerHeader{
@include text-alignment(left);
	}
}
div[data-brease-dialogId='SfMP193_dialogArSimInfo'] {
	.breaseWindowClose{
@include display(false);
	}
}
