.widgetOverlay{
    display:flex; 
    position:absolute;  
    width: 100%; /* Full width (cover the whole div) */
    height: 100%; /* Full height (cover the whole div) */
    top: 0px;
    left: 0px; 
    background-color: rgba(0,0,0,0.7);
    z-index: 99; 
}