/* definition of the command button for the overview pages(component, trace, tools, ...)*/
.overviewCommandButton {
    background-color: var(--main-grey) !important;
    padding: 1px 5px;
    border-radius: 4px;
    border: 1px solid var(--main-black) !important; 
    font-size: 12px !important;
    font-family: var(--main-font);
    font-weight: normal;
}

.overviewCommandButton.e-btn.e-select .e-icon {
    background-position-x: 0px;
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.overviewCommandButton:hover {
    background-color: lightgrey !important;
}

.overviewCommandButton:active {
    background-color: var(--main-orange) !important;
}