div[data-brease-dialogId='SfMP193_dialogArSimInfo'] .breaseDialogWindowHeader div.innerHeader{justify-content:flex-start;text-align:left}div[data-brease-dialogId='SfMP193_dialogArSimInfo'] .breaseWindowClose{display:none}
