
#parent_mCo_logo {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 150px;
    background: var(--main-black);
    background-image: url(../images/Background.png);
    background-size: cover;
}

#mCo_logo {
    align-self: flex-end;
    margin-bottom: 51px;
    margin-left: 51px;
    filter: brightness(0.75);
}
