@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/ProgressBar/meta/ProgressBar_base";
.widgets_brease_ProgressBar_style_default {
@include widgets_brease_ProgressBar_base; 
.pb-label-text {
	font-family: Arial;
}
.pb-label-text {
	font-size: 12px;
}
.pb-bar-container {
	border-style: solid;
}
.pb-bar-container {
	border-width: 2px;
}
.pb-bar-container {
	border-color: rgba(31, 31, 31, 1);
}
.pb-bar-container {
@include border-radius(1000px);
}
.pb-outer-area {
	border-style: none;
}
.pb-outer-area {
	border-width: 2px;
}
.pb-outer-area {
	border-color: rgba(31, 31, 31, 1);
}
.pb-progress {
	background-color: rgba(255, 136, 0, 1);
}
.pb-bar-container {
	background-color: rgba(51, 51, 51, 1);
}
@include border-radius(5px);
.pb-outer-area {
@include border-radius(5px);
}
.pb-label-text {
	color: rgba(210, 210, 210, 1);
}

}
