@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChart/meta/PieChart_base";
.widgets_brease_PieChart_style_default {
@include widgets_brease_PieChart_base; 
.pieChartDefault {
	stroke-width: 0px;
}
.pieChartDefault {
	stroke: rgba(31, 31, 31, 1);
}
text {
	font-family: Arial;
}
text {
	font-size: 14px;
}
.pieChartDefault {
	fill: transparent;
}
.pieWidget > path {
	stroke: transparent;
}
text {
	fill: rgba(210, 210, 210, 1);
}
.infoBox > rect {
	fill: rgba(210, 210, 210, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_default {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(255, 136, 0, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_blue {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(0, 172, 236, 1);
}
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_purple {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(204, 80, 204, 1);
}
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_magenta {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(230, 73, 151, 1);
}
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_teal {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(61, 161, 144, 1);
}
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_green {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(81, 163, 75, 1);
}
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_yellow {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(150, 141, 11, 1);
}
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_gold {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(182, 69, 6, 1);
}
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_orange {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(255, 136, 0, 1);
}
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/PieChartItem/meta/PieChartItem_base";
.widgets_brease_PieChartItem_style_red {
@include widgets_brease_PieChartItem_base; 
path {
	fill: rgba(255, 71, 84, 1);
}
	opacity: 1;

}
