@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/NumericInput/meta/NumericInput_base";
.widgets_brease_NumericInput_style_default {
@include widgets_brease_NumericInput_base; 
input {
	font-family: Arial;
}
input {
	font-size: 16px;
}
input {
@include font-weight-bold(false);
}
input {
@include text-alignment(right);
}
&:not(.disabled):not(.active) input {
	color: rgba(31, 31, 31, 1);
}
&:not(.disabled):not(.active) span.breaseNumericInput_unit {
	color: rgba(31, 31, 31, 1);
}
&:not(.disabled):not(.active) {
	background-color: rgba(255, 255, 255, 1);
}
	border-style: solid;
&.disabled {
	border-style: solid;
}
&:not(.active):not(.disabled) {
	border-width: 2px 6px 2px 2px;
}
&:not(.disabled):not(.active) {
	border-color: rgba(255, 136, 0, 1);
}
@include border-radius(5px);
&.disabled {
	background-color: rgba(210, 210, 210, 1);
}
&.disabled input {
	color: rgba(110, 110, 110, 1);
}
&.disabled span.breaseNumericInput_unit {
	color: rgba(110, 110, 110, 1);
}
&.disabled {
	border-width: 2px;
}
&.disabled {
	border-color: rgba(210, 210, 210, 1);
}
&.active:not(.disabled) input {
	color: rgba(31, 31, 31, 1);
}
&.active:not(.disabled) span.breaseNumericInput_unit {
	color: rgba(31, 31, 31, 1);
}
&.active:not(.disabled) {
	background-color: rgba(255, 255, 255, 1);
}
&.active:not(.disabled) {
	border-width: 2px 6px 2px 2px;
}
&.active:not(.disabled) {
	border-color: rgba(31, 31, 31, 1);
}

}
