@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/LoginInfo/meta/LoginInfo_base";
.widgets_brease_LoginInfo_style_default {
@include widgets_brease_LoginInfo_base; 
& span {
	color: rgba(210, 210, 210, 1);
}
	border-width: 0px;
span {
	font-family: Arial;
}
	font-size: 16px;
	background-color: transparent;
@include font-weight-bold(false);
@include text-alignment-all('center');

}
