@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/NavigationButton/meta/NavigationButton_base";
.widgets_brease_NavigationButton_style_default {
@include widgets_brease_NavigationButton_base; 
span {
	font-family: Arial;
}
span {
	font-size: 16px;
}
@include text-alignment(left);
span {
@include font-weight-bold(true);
}
	border-style: solid;
&.active {
	border-style: solid;
}
&.checked {
	border-style: solid;
}
&.disabled {
	border-style: solid;
}
&:not(.active):not(.checked) {
	border-width: 0px 0px 5px 0px;
}
&.disabled {
	border-width: 0px 0px 5px 0px;
}
@include border-radius(0px);
	margin: 10px;
&:not(.disabled):not(.checked) {
	border-color: rgba(255, 255, 255, 1);
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: rgba(0, 0, 0, 1);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: rgba(255, 255, 255, 1);
}
&:not(.active):not(.disabled):not(.checked) svg {
	fill: rgba(255, 255, 255, 1);
}
&.disabled:not(.checked) {
	background-color: rgba(51, 51, 51, 1);
}
&.disabled:not(.checked) span {
	color: rgba(110, 110, 110, 1);
}
&.disabled:not(.checked).active span {
	color: rgba(110, 110, 110, 1);
}
&.disabled svg {
	fill: rgba(110, 110, 110, 1);
}
&.disabled:not(.active):not(.checked) {
	border-color: rgba(110, 110, 110, 1);
}
&.active:not(.disabled):not(.editMode) {
	background-color: rgba(92, 92, 92, 1);
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 5px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 5px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-color: rgba(255, 136, 0, 1);
}
&.active:not(.disabled):not(.editMode) span {
	color: rgba(255, 136, 0, 1);
}
&.active.checked:not(.disabled) span {
	color: rgba(255, 136, 0, 1);
}
&.active svg {
	fill: rgba(255, 136, 0, 1);
}
&.checked:not(.active):not(.disabled) {
	background-color: rgba(0, 0, 0, 1);
}
&.checked:not(.disabled):not(.active) span {
	color: rgba(255, 255, 255, 1);
}
&.checked:not(.disabled):not(.active) svg {
	fill: rgba(255, 136, 0, 1);
}
&.checked:not(.active):not(.disabled) {
	border-color: rgba(255, 136, 0, 1);
}
&.disabled.checked {
	background-color: rgba(152, 152, 152, 1);
}
&.disabled.checked:not(.active) span {
	color: rgba(210, 210, 210, 1);
}
&.disabled.checked:not(.active) svg {
	fill: rgba(255, 196, 128, 1);
}
&.disabled.checked {
	border-color: rgba(255, 196, 128, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/NavigationButton/meta/NavigationButton_base";
.widgets_brease_NavigationButton_style_appButton {
@include widgets_brease_NavigationButton_base; 
span {
	font-family: Arial;
}
span {
	font-size: 50px;
}
@include text-alignment(center);
span {
@include font-weight-bold(true);
}
	border-style: solid;
&.active {
	border-style: solid;
}
&.checked {
	border-style: solid;
}
&.disabled {
	border-style: solid;
}
&:not(.active):not(.checked) {
	border-width: 0px 0px 10px 0px;
}
&.disabled {
	border-width: 0px 0px 10px 0px;
}
@include border-radius(0px);
	margin: 10px;
&:not(.disabled):not(.checked) {
	border-color: rgba(255, 255, 255, 1);
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: rgba(0, 0, 0, 1);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: rgba(255, 255, 255, 1);
}
&:not(.active):not(.disabled):not(.checked) svg {
	fill: rgba(255, 255, 255, 1);
}
&.disabled:not(.checked) {
	background-color: rgba(51, 51, 51, 1);
}
&.disabled:not(.checked) span {
	color: rgba(110, 110, 110, 1);
}
&.disabled:not(.checked).active span {
	color: rgba(110, 110, 110, 1);
}
&.disabled svg {
	fill: rgba(110, 110, 110, 1);
}
&.disabled:not(.active):not(.checked) {
	border-color: rgba(110, 110, 110, 1);
}
&.active:not(.disabled):not(.editMode) {
	background-color: rgba(92, 92, 92, 1);
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 10px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 10px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-color: rgba(255, 136, 0, 1);
}
&.active:not(.disabled):not(.editMode) span {
	color: rgba(255, 136, 0, 1);
}
&.active.checked:not(.disabled) span {
	color: rgba(255, 136, 0, 1);
}
&.active svg {
	fill: rgba(255, 136, 0, 1);
}
&.checked:not(.active):not(.disabled) {
	background-color: rgba(0, 0, 0, 1);
}
&.checked:not(.disabled):not(.active) span {
	color: rgba(255, 255, 255, 1);
}
&.checked:not(.disabled):not(.active) svg {
	fill: rgba(255, 136, 0, 1);
}
&.checked:not(.active):not(.disabled) {
	border-color: rgba(255, 136, 0, 1);
}
&.disabled.checked {
	background-color: rgba(152, 152, 152, 1);
}
&.disabled.checked:not(.active) span {
	color: rgba(210, 210, 210, 1);
}
&.disabled.checked:not(.active) svg {
	fill: rgba(255, 196, 128, 1);
}
&.disabled.checked {
	border-color: rgba(255, 196, 128, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/NavigationButton/meta/NavigationButton_base";
.widgets_brease_NavigationButton_style_transparent {
@include widgets_brease_NavigationButton_base; 
	border-style: none;
&.active {
	border-style: none;
}
&.checked {
	border-style: none;
}
&.disabled {
	border-style: none;
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: transparent;
}
&.active:not(.disabled):not(.editMode) {
	background-color: transparent;
}
&.checked:not(.active):not(.disabled) {
	background-color: transparent;
}
&.disabled:not(.checked) {
	background-color: transparent;
}
&:not(.active):not(.disabled):not(.checked) svg {
	fill: rgba(255, 255, 255, 1);
}
&.active svg {
	fill: rgba(255, 136, 0, 1);
}
&.checked:not(.disabled):not(.active) svg {
	fill: rgba(255, 136, 0, 1);
}
&.disabled.checked:not(.active) svg {
	fill: rgba(255, 196, 128, 1);
}

}
