@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/NumericOutput/meta/NumericOutput_base";
.widgets_brease_NumericOutput_style_default {
@include widgets_brease_NumericOutput_base; 
input {
	font-family: Arial;
}
input {
	font-size: 16px;
}
input {
@include font-weight-bold(false);
}
input {
@include text-alignment(right);
}
input {
	color: rgba(110, 110, 110, 1);
}
span.breaseNumericOutput_unit {
	color: rgba(110, 110, 110, 1);
}
	background-color: transparent;
	border-style: none;

}
