@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChart/meta/DonutChart_base";
.widgets_brease_DonutChart_style_default {
@include widgets_brease_DonutChart_base; 
.pieChartDefault {
	fill: transparent;
}
.pieWidget > path {
	stroke: transparent;
}
.infoBox > rect {
	fill: rgba(255, 255, 255, 1);
}
.pieChartDefault {
	stroke: transparent;
}
text {
	font-family: Arial;
}
text {
	font-size: 14px;
}
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_default {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(255, 136, 0, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_blue {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(0, 172, 236, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_purple {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(204, 80, 204, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_magenta {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(230, 73, 151, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_teal {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(61, 161, 144, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_green {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(81, 163, 75, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_yellow {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(150, 141, 11, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_gold {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(182, 69, 6, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_orange {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(255, 136, 0, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/DonutChartItem/meta/DonutChartItem_base";
.widgets_brease_DonutChartItem_style_red {
@include widgets_brease_DonutChartItem_base; 
path {
	fill: rgba(255, 71, 84, 1);
}

}
