@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/GroupBox/meta/GroupBox_base";
.widgets_brease_GroupBox_style_default {
@include widgets_brease_GroupBox_base; 
> .header {
	background-color: rgba(240, 240, 240, 1);
}
	background-color: rgba(255, 255, 255, 1);
> .header span {
@include font-weight-bold(false);
}
> .header span {
	font-family: Arial;
}
> .header span {
	font-size: 16px;
}
> .header {
height: 16px + 20px;
}
> .header span {
	color: rgba(0, 0, 0, 1);
}
	border-width: 2px;
> .header {
	border-width: 2px;
}
@include border-radius(5px);
	border-color: rgba(240, 240, 240, 1);
> .header {
	border-color: rgba(240, 240, 240, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/GroupBox/meta/GroupBox_base";
.widgets_brease_GroupBox_style_transparent {
@include widgets_brease_GroupBox_base; 
> .header {
	background-color: transparent;
}
	background-color: transparent;
> .header span {
@include font-weight-bold(false);
}
> .header span {
	font-family: Arial;
}
> .header span {
	font-size: 16px;
}
> .header {
height: 16px + 20px;
}
> .header span {
	color: transparent;
}
	border-width: 0px;
> .header {
	border-width: 0px;
}
	border-style: none;
> .header {
	border-bottom-style: none;
}
@include border-radius(0px);
	border-color: transparent;
> .header {
	border-color: transparent;
}

}
