@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BasicSlider/meta/BasicSlider_base";
.widgets_brease_BasicSlider_style_default {
@include widgets_brease_BasicSlider_base; 
&:not(.disabled) {
	background-color: transparent;
}
	border-style: none;
.borderElement .backgroundElement .thumbBackground:not(.disabled) {
	background-color: rgba(255, 136, 0, 1);
}
.borderElement .backgroundElement .rectangleBackground:not(.disabled) {
	background-color: rgba(169, 169, 169, 1);
}
&:not(.disabled) .borderElement .backgroundElement .fillElement {
	background-color: transparent;
}
&.disabled .borderElement .backgroundElement .thumbBackground {
	background-color: rgba(255, 196, 128, 1);
}
&.disabled .borderElement .backgroundElement .rectangleBackground {
	background-color: rgba(210, 210, 210, 1);
}
.borderElement .valueDisplay {
	background-color: rgba(169, 169, 169, 1);
}
.borderElement .valueDisplay .arrowOutput {
	border-top-color: rgba(169, 169, 169, 1);
}
.borderElement .valueDisplay .arrowOutput {
	border-left-color: rgba(169, 169, 169, 1);
}
&.disabled .borderElement .backgroundElement .fillElement {
	background-color: transparent;
}

}
