@import "mixins.scss";
#HD_LS1_contentAlarmHistory_AlarmHistory1 {	@include elemTop(0);
}
#HD_LS1_contentAlarmHistory_AlarmHistory1 {	@include elemLeft(0);
}
#HD_LS1_contentAlarmHistory_AlarmHistory1 {	@include elemWidth(1248);
}
#HD_LS1_contentAlarmHistory_AlarmHistory1 {	@include elemHeight(600);
}
#HD_LS1_contentAlarmHistory_AlarmHistory1 {	z-index: 0;
}
#HD_LS1_contentAlarmHistory_AlarmHistoryItem1 {	@include elemWidth(300);
}
#HD_LS1_contentAlarmHistory_AlarmHistoryItem1 {	z-index: 0;
}
#HD_LS1_contentAlarmHistory_AlarmHistoryItem2 {	@include elemWidth(858);
}
#HD_LS1_contentAlarmHistory_AlarmHistoryItem2 {	z-index: 1;
}
#HD_LS1_contentAlarmHistory_AlarmHistoryItem3 {	@include elemWidth(90);
}
#HD_LS1_contentAlarmHistory_AlarmHistoryItem3 {	z-index: 2;
}
