@import "mixins.scss";
#HD_LS1_contentMain_GroupBox1 {	@include elemTop(10);
}
#HD_LS1_contentMain_GroupBox1 {	@include elemLeft(10);
}
#HD_LS1_contentMain_GroupBox1 {	@include elemWidth(325);
}
#HD_LS1_contentMain_GroupBox1 {	@include elemHeight(280);
}
#HD_LS1_contentMain_GroupBox1 {	z-index: 0;
}
#HD_LS1_contentMain_DonutChart1 {	@include elemTop(1);
}
#HD_LS1_contentMain_DonutChart1 {	@include elemLeft(32);
}
#HD_LS1_contentMain_DonutChart1 {	@include elemWidth(238);
}
#HD_LS1_contentMain_DonutChart1 {	@include elemHeight(238);
}
#HD_LS1_contentMain_DonutChart1 {	z-index: 0;
}
#HD_LS1_contentMain_DonutChartItem1 {	@include elemTop(43);
}
#HD_LS1_contentMain_DonutChartItem1 {	@include elemLeft(114);
}
#HD_LS1_contentMain_DonutChartItem1 {	z-index: 0;
}
#HD_LS1_contentMain_DonutChartItem2 {	@include elemTop(15);
}
#HD_LS1_contentMain_DonutChartItem2 {	@include elemLeft(167);
}
#HD_LS1_contentMain_DonutChartItem2 {	z-index: 1;
}
#HD_LS1_contentMain_GroupBox2 {	@include elemTop(10);
}
#HD_LS1_contentMain_GroupBox2 {	@include elemLeft(350);
}
#HD_LS1_contentMain_GroupBox2 {	@include elemWidth(890);
}
#HD_LS1_contentMain_GroupBox2 {	@include elemHeight(395);
}
#HD_LS1_contentMain_GroupBox2 {	z-index: 1;
}
#HD_LS1_contentMain_BarChart1 {	@include elemWidth(300);
}
#HD_LS1_contentMain_BarChart1 {	@include elemHeight(300);
}
#HD_LS1_contentMain_BarChart1 {	@include elemTop(30);
}
#HD_LS1_contentMain_BarChart1 {	@include elemLeft(11);
}
#HD_LS1_contentMain_BarChart1 {	z-index: 0;
}
#HD_LS1_contentMain_BarChart1 {	.xAxisGrid line {
		stroke: rgba(255, 255, 255, 0);
	}
}
#HD_LS1_contentMain_BarChart1 {	.yAxisGrid line {
		stroke: rgba(255, 255, 255, 0);
	}
}
#HD_LS1_contentMain_BarChartItem1 {	z-index: 0;
}
#HD_LS1_contentMain_BarChartItem2 {	z-index: 1;
}
#HD_LS1_contentMain_BarChartItem3 {	z-index: 2;
}
#HD_LS1_contentMain_BarChartItem4 {	z-index: 3;
}
#HD_LS1_contentMain_BarChartItem5 {	z-index: 4;
}
#HD_LS1_contentMain_BarChartItem6 {	z-index: 5;
}
#HD_LS1_contentMain_BarChartItem7 {	z-index: 6;
}
#HD_LS1_contentMain_BarChartItem8 {	z-index: 7;
}
#HD_LS1_contentMain_GroupBox3 {	@include elemTop(300);
}
#HD_LS1_contentMain_GroupBox3 {	@include elemLeft(10);
}
#HD_LS1_contentMain_GroupBox3 {	@include elemWidth(325);
}
#HD_LS1_contentMain_GroupBox3 {	@include elemHeight(105);
}
#HD_LS1_contentMain_GroupBox3 {	z-index: 2;
}
#HD_LS1_contentMain_NumericOutputProducts {	@include elemTop(2);
}
#HD_LS1_contentMain_NumericOutputProducts {	@include elemLeft(69);
}
#HD_LS1_contentMain_NumericOutputProducts {	@include elemAutoWidth(183);
}
#HD_LS1_contentMain_NumericOutputProducts {	@include elemAutoHeight(61);
}
#HD_LS1_contentMain_NumericOutputProducts {	z-index: 0;
}
#HD_LS1_contentMain_NumericOutputProducts {	input {
		@include text-alignment(center);
	}
}
#HD_LS1_contentMain_NumericOutputProducts {	input {
		font-size: 48px;
	}
}
#HD_LS1_contentMain_NumericOutput1 {	@include elemAutoWidth(100);
}
#HD_LS1_contentMain_NumericOutput1 {	@include elemAutoHeight(30);
}
#HD_LS1_contentMain_NumericOutput1 {	@include elemTop(480);
}
#HD_LS1_contentMain_NumericOutput1 {	@include elemLeft(120);
}
#HD_LS1_contentMain_NumericOutput1 {	z-index: 3;
}
#HD_LS1_contentMain_MomentaryPushButton1 {	@include elemAutoWidth(100);
}
#HD_LS1_contentMain_MomentaryPushButton1 {	@include elemAutoHeight(30);
}
#HD_LS1_contentMain_MomentaryPushButton1 {	@include elemTop(540);
}
#HD_LS1_contentMain_MomentaryPushButton1 {	@include elemLeft(140);
}
#HD_LS1_contentMain_MomentaryPushButton1 {	z-index: 4;
}
#HD_LS1_contentMain_LoginImage {	@include elemTop(620);
}
#HD_LS1_contentMain_LoginImage {	@include elemLeft(20);
}
#HD_LS1_contentMain_LoginImage {	@include elemAutoWidth(64);
}
#HD_LS1_contentMain_LoginImage {	@include elemAutoHeight(64);
}
#HD_LS1_contentMain_LoginImage {	z-index: 5;
}
#HD_LS1_contentMain_LoginImage {	& > .ImageView > svg {
		fill: rgba(0, 0, 0, 1);
	}
}
#HD_LS1_contentMain_LoginInfo1 {	@include elemAutoWidth(120);
}
#HD_LS1_contentMain_LoginInfo1 {	@include elemAutoHeight(30);
}
#HD_LS1_contentMain_LoginInfo1 {	@include elemTop(640);
}
#HD_LS1_contentMain_LoginInfo1 {	@include elemLeft(400);
}
#HD_LS1_contentMain_LoginInfo1 {	z-index: 6;
}
#HD_LS1_contentMain_LoginInfo1 {	& span {
		color: rgba(71, 71, 71, 1);
	}
}
#HD_LS1_contentMain_Label1 {	@include elemAutoHeight(30);
}
#HD_LS1_contentMain_Label1 {	@include elemTop(639);
}
#HD_LS1_contentMain_Label1 {	@include elemLeft(260);
}
#HD_LS1_contentMain_Label1 {	@include elemAutoWidth(140);
}
#HD_LS1_contentMain_Label1 {	z-index: 7;
}
#HD_LS1_contentMain_Label1 {	& span {
		color: rgba(71, 71, 71, 1);
	}
}
#HD_LS1_contentMain_Label2 {	@include elemAutoHeight(30);
}
#HD_LS1_contentMain_Label2 {	@include elemTop(640);
}
#HD_LS1_contentMain_Label2 {	@include elemLeft(580);
}
#HD_LS1_contentMain_Label2 {	@include elemAutoWidth(220);
}
#HD_LS1_contentMain_Label2 {	z-index: 8;
}
#HD_LS1_contentMain_Label2 {	& span {
		color: rgba(71, 71, 71, 1);
	}
}
#HD_LS1_contentMain_LabelLogin {	@include elemAutoWidth(80);
}
#HD_LS1_contentMain_LabelLogin {	@include elemAutoHeight(30);
}
#HD_LS1_contentMain_LabelLogin {	@include elemTop(640);
}
#HD_LS1_contentMain_LabelLogin {	@include elemLeft(140);
}
#HD_LS1_contentMain_LabelLogin {	z-index: 9;
}
#HD_LS1_contentMain_LabelLogin {	& span {
		color: rgba(71, 71, 71, 1);
	}
}
