@import "mixins.scss";
#HD_LS1_contentAlarmMgt_TabControl1 {	@include elemTop(5);
}
#HD_LS1_contentAlarmMgt_TabControl1 {	@include elemLeft(0);
}
#HD_LS1_contentAlarmMgt_TabControl1 {	@include elemWidth(1258);
}
#HD_LS1_contentAlarmMgt_TabControl1 {	@include elemHeight(703);
}
#HD_LS1_contentAlarmMgt_TabControl1 {	z-index: 0;
}
#HD_LS1_contentAlarmMgt_TabItem1_breaseTabItemTab {	&.tabItem {
		@include elemHeight(30);
	}
}
#HD_LS1_contentAlarmMgt_TabItem1_breaseTabItemTab {	&.tabItem {
		@include elemWidth(200);
	}
}
#HD_LS1_contentAlarmMgt_TabItem1 {	z-index: 0;
}
#HD_LS1_contentAlarmMgt_ContentControl1 {	@include elemWidth(100%);
}
#HD_LS1_contentAlarmMgt_ContentControl1 {	@include elemHeight(100%);
}
#HD_LS1_contentAlarmMgt_ContentControl1 {	@include elemTop(0);
}
#HD_LS1_contentAlarmMgt_ContentControl1 {	@include elemLeft(0);
}
#HD_LS1_contentAlarmMgt_ContentControl1 {	z-index: 0;
}
#HD_LS1_contentAlarmMgt_TabItem2_breaseTabItemTab {	&.tabItem {
		@include elemHeight(30);
	}
}
#HD_LS1_contentAlarmMgt_TabItem2_breaseTabItemTab {	&.tabItem {
		@include elemWidth(200);
	}
}
#HD_LS1_contentAlarmMgt_TabItem2 {	z-index: 1;
}
#HD_LS1_contentAlarmMgt_ContentControl2 {	@include elemWidth(100%);
}
#HD_LS1_contentAlarmMgt_ContentControl2 {	@include elemHeight(100%);
}
#HD_LS1_contentAlarmMgt_ContentControl2 {	@include elemTop(0);
}
#HD_LS1_contentAlarmMgt_ContentControl2 {	@include elemLeft(0);
}
#HD_LS1_contentAlarmMgt_ContentControl2 {	z-index: 0;
}
