@import "mixins.scss";
#HD_LS1_contentNavigation_NavigationBar1 {	@include elemTop(80);
}
#HD_LS1_contentNavigation_NavigationBar1 {	@include elemLeft(0);
}
#HD_LS1_contentNavigation_NavigationBar1 {	@include elemWidth(110);
}
#HD_LS1_contentNavigation_NavigationBar1 {	@include elemHeight(400);
}
#HD_LS1_contentNavigation_NavigationBar1 {	z-index: 0;
}
#HD_LS1_contentNavigation_NavigationHome {	@include elemTop(0);
}
#HD_LS1_contentNavigation_NavigationHome {	@include elemLeft(0);
}
#HD_LS1_contentNavigation_NavigationHome {	@include elemAutoWidth(110);
}
#HD_LS1_contentNavigation_NavigationHome {	@include elemAutoHeight(80);
}
#HD_LS1_contentNavigation_NavigationHome {	z-index: 0;
}
#HD_LS1_contentNavigation_NavigationHome {	img {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationHome {	svg {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationHome {	img {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationHome {	svg {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationHome {	@include text-alignment(center);
}
#HD_LS1_contentNavigation_NavigationProduction {	@include elemTop(0);
}
#HD_LS1_contentNavigation_NavigationProduction {	@include elemLeft(0);
}
#HD_LS1_contentNavigation_NavigationProduction {	@include elemAutoWidth(110);
}
#HD_LS1_contentNavigation_NavigationProduction {	@include elemAutoHeight(80);
}
#HD_LS1_contentNavigation_NavigationProduction {	z-index: 1;
}
#HD_LS1_contentNavigation_NavigationProduction {	img {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationProduction {	svg {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationProduction {	img {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationProduction {	svg {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationProduction {	@include text-alignment(center);
}
#HD_LS1_contentNavigation_NavigationService {	@include elemTop(0);
}
#HD_LS1_contentNavigation_NavigationService {	@include elemLeft(0);
}
#HD_LS1_contentNavigation_NavigationService {	@include elemAutoWidth(110);
}
#HD_LS1_contentNavigation_NavigationService {	@include elemAutoHeight(80);
}
#HD_LS1_contentNavigation_NavigationService {	z-index: 2;
}
#HD_LS1_contentNavigation_NavigationService {	img {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationService {	svg {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationService {	img {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationService {	svg {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationService {	@include text-alignment(center);
}
#HD_LS1_contentNavigation_NavigationButton2 {	@include elemTop(0);
}
#HD_LS1_contentNavigation_NavigationButton2 {	@include elemLeft(0);
}
#HD_LS1_contentNavigation_NavigationButton2 {	@include elemAutoWidth(110);
}
#HD_LS1_contentNavigation_NavigationButton2 {	@include elemAutoHeight(80);
}
#HD_LS1_contentNavigation_NavigationButton2 {	z-index: 3;
}
#HD_LS1_contentNavigation_NavigationButton2 {	img {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationButton2 {	svg {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationButton2 {	img {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationButton2 {	svg {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationButton2 {	@include text-alignment(center);
}
#HD_LS1_contentNavigation_NavigationSDM {	@include elemTop(0);
}
#HD_LS1_contentNavigation_NavigationSDM {	@include elemLeft(0);
}
#HD_LS1_contentNavigation_NavigationSDM {	@include elemAutoWidth(110);
}
#HD_LS1_contentNavigation_NavigationSDM {	@include elemAutoHeight(80);
}
#HD_LS1_contentNavigation_NavigationSDM {	z-index: 4;
}
#HD_LS1_contentNavigation_NavigationSDM {	img {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationSDM {	svg {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_NavigationSDM {	img {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationSDM {	svg {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_NavigationSDM {	@include text-alignment(center);
}
#HD_LS1_contentNavigation_FlyOutUserConfig {	&.right {
		@include elemTop(60);
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig {	&.left {
		@include elemTop(60);
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig {	&.top {
		@include elemLeft(0);
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig {	&.bottom {
		@include elemLeft(0);
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemWidth(600);
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		@include elemHeight(420);
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig {	z-index: 2;
}
#HD_LS1_contentNavigation_FlyOutUserConfig_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemHeight(0);
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig {	@include elemHeight(0);
}
#HD_LS1_contentNavigation_FlyOutUserConfig_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		@include elemWidth(0);
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig {	@include elemWidth(0);
}
#HD_LS1_contentNavigation_FlyOutUserConfig_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .flyoutButton {
		border-style: none;
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig_breaseFlyOutWrapper {	:not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
		background-color: rgba(255, 255, 255, 0);
	}
}
#HD_LS1_contentNavigation_FlyOutUserConfig_breaseFlyOutWrapper {	.breaseFlyOutWrapper > .container {
		border-style: none;
	}
}
#HD_LS1_contentNavigation_GroupBox1 {	@include elemTop(20);
}
#HD_LS1_contentNavigation_GroupBox1 {	@include elemLeft(20);
}
#HD_LS1_contentNavigation_GroupBox1 {	@include elemWidth(300);
}
#HD_LS1_contentNavigation_GroupBox1 {	@include elemHeight(380);
}
#HD_LS1_contentNavigation_GroupBox1 {	z-index: 0;
}
#HD_LS1_contentNavigation_Login1 {	@include elemHeight(160);
}
#HD_LS1_contentNavigation_Login1 {	@include elemTop(15);
}
#HD_LS1_contentNavigation_Login1 {	@include elemLeft(0);
}
#HD_LS1_contentNavigation_Login1 {	@include elemWidth(290);
}
#HD_LS1_contentNavigation_Login1 {	z-index: 0;
}
#HD_LS1_contentNavigation_LogoutButton1 {	@include elemAutoHeight(30);
}
#HD_LS1_contentNavigation_LogoutButton1 {	@include elemTop(302);
}
#HD_LS1_contentNavigation_LogoutButton1 {	@include elemLeft(20);
}
#HD_LS1_contentNavigation_LogoutButton1 {	@include elemAutoWidth(260);
}
#HD_LS1_contentNavigation_LogoutButton1 {	z-index: 1;
}
#HD_LS1_contentNavigation_GroupBox2 {	@include elemTop(20);
}
#HD_LS1_contentNavigation_GroupBox2 {	@include elemLeft(335);
}
#HD_LS1_contentNavigation_GroupBox2 {	@include elemWidth(240);
}
#HD_LS1_contentNavigation_GroupBox2 {	@include elemHeight(380);
}
#HD_LS1_contentNavigation_GroupBox2 {	z-index: 1;
}
#HD_LS1_contentNavigation_LanguageSelector1 {	&.DropDownBoxView {
		@include elemHeight(30);
	}
}
#HD_LS1_contentNavigation_LanguageSelector1 {	@include elemTop(20);
}
#HD_LS1_contentNavigation_LanguageSelector1 {	@include elemLeft(10);
}
#HD_LS1_contentNavigation_LanguageSelector1 {	&.DropDownBoxView {
		@include elemWidth(210);
	}
}
#HD_LS1_contentNavigation_LanguageSelector1 {	z-index: 0;
}
#HD_LS1_contentNavigation_MeasurementSystemSelector1 {	&.DropDownBoxView {
		@include elemHeight(30);
	}
}
#HD_LS1_contentNavigation_MeasurementSystemSelector1 {	@include elemTop(55);
}
#HD_LS1_contentNavigation_MeasurementSystemSelector1 {	@include elemLeft(10);
}
#HD_LS1_contentNavigation_MeasurementSystemSelector1 {	&.DropDownBoxView {
		@include elemWidth(210);
	}
}
#HD_LS1_contentNavigation_MeasurementSystemSelector1 {	z-index: 1;
}
#HD_LS1_contentNavigation_ToggleSwitch1 {	@include elemAutoHeight(30);
}
#HD_LS1_contentNavigation_ToggleSwitch1 {	@include elemTop(102);
}
#HD_LS1_contentNavigation_ToggleSwitch1 {	@include elemLeft(110);
}
#HD_LS1_contentNavigation_ToggleSwitch1 {	@include elemAutoWidth(108);
}
#HD_LS1_contentNavigation_ToggleSwitch1 {	z-index: 2;
}
#HD_LS1_contentNavigation_ButtonUserSettings {	@include elemTop(0);
}
#HD_LS1_contentNavigation_ButtonUserSettings {	@include elemLeft(0);
}
#HD_LS1_contentNavigation_ButtonUserSettings {	@include elemAutoWidth(110);
}
#HD_LS1_contentNavigation_ButtonUserSettings {	@include elemAutoHeight(80);
}
#HD_LS1_contentNavigation_ButtonUserSettings {	z-index: 1;
}
#HD_LS1_contentNavigation_ButtonUserSettings {	img {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_ButtonUserSettings {	svg {
		@include imageHeight(32);
	}
}
#HD_LS1_contentNavigation_ButtonUserSettings {	img {
		@include imageWidth(32);
	}
}
#HD_LS1_contentNavigation_ButtonUserSettings {	svg {
		@include imageWidth(32);
	}
}
