@import "mixins.scss";
#HD_LS1_contentServiceMgt_TabControl1 {	@include elemTop(5);
}
#HD_LS1_contentServiceMgt_TabControl1 {	@include elemLeft(0);
}
#HD_LS1_contentServiceMgt_TabControl1 {	@include elemWidth(1258);
}
#HD_LS1_contentServiceMgt_TabControl1 {	@include elemHeight(703);
}
#HD_LS1_contentServiceMgt_TabControl1 {	z-index: 0;
}
#HD_LS1_contentServiceMgt_TabItem1_breaseTabItemTab {	&.tabItem {
		@include elemHeight(30);
	}
}
#HD_LS1_contentServiceMgt_TabItem1_breaseTabItemTab {	&.tabItem {
		@include elemWidth(200);
	}
}
#HD_LS1_contentServiceMgt_TabItem1 {	z-index: 0;
}
#HD_LS1_contentServiceMgt_ContentControl1 {	@include elemWidth(100%);
}
#HD_LS1_contentServiceMgt_ContentControl1 {	@include elemHeight(100%);
}
#HD_LS1_contentServiceMgt_ContentControl1 {	@include elemTop(0);
}
#HD_LS1_contentServiceMgt_ContentControl1 {	@include elemLeft(0);
}
#HD_LS1_contentServiceMgt_ContentControl1 {	z-index: 0;
}
#HD_LS1_contentServiceMgt_TabItem2_breaseTabItemTab {	&.tabItem {
		@include elemHeight(30);
	}
}
#HD_LS1_contentServiceMgt_TabItem2_breaseTabItemTab {	&.tabItem {
		@include elemWidth(200);
	}
}
#HD_LS1_contentServiceMgt_TabItem2 {	z-index: 1;
}
#HD_LS1_contentServiceMgt_ContentControl2 {	@include elemWidth(100%);
}
#HD_LS1_contentServiceMgt_ContentControl2 {	@include elemHeight(100%);
}
#HD_LS1_contentServiceMgt_ContentControl2 {	@include elemTop(0);
}
#HD_LS1_contentServiceMgt_ContentControl2 {	@include elemLeft(0);
}
#HD_LS1_contentServiceMgt_ContentControl2 {	z-index: 0;
}
#HD_LS1_contentServiceMgt_TabItem3_breaseTabItemTab {	&.tabItem {
		@include elemHeight(30);
	}
}
#HD_LS1_contentServiceMgt_TabItem3_breaseTabItemTab {	&.tabItem {
		@include elemWidth(200);
	}
}
#HD_LS1_contentServiceMgt_TabItem3 {	z-index: 2;
}
#HD_LS1_contentServiceMgt_ContentControl3 {	@include elemWidth(100%);
}
#HD_LS1_contentServiceMgt_ContentControl3 {	@include elemHeight(100%);
}
#HD_LS1_contentServiceMgt_ContentControl3 {	@include elemTop(0);
}
#HD_LS1_contentServiceMgt_ContentControl3 {	@include elemLeft(0);
}
#HD_LS1_contentServiceMgt_ContentControl3 {	z-index: 0;
}
