@import "mixins.scss";
#HD_LS1_contentHeader_LoginInfo1 {	@include elemTop(10);
}
#HD_LS1_contentHeader_LoginInfo1 {	@include elemLeft(0);
}
#HD_LS1_contentHeader_LoginInfo1 {	@include elemAutoWidth(200);
}
#HD_LS1_contentHeader_LoginInfo1 {	@include elemAutoHeight(20);
}
#HD_LS1_contentHeader_LoginInfo1 {	z-index: 0;
}
#HD_LS1_contentHeader_LoginInfo1 {	@include text-alignment-all('left');
}
#HD_LS1_contentHeader_LoginInfo1 {	font-size: 14px;
}
#HD_LS1_contentHeader_LoginInfo1 {	span {
		padding: 4px;
	}
}
#HD_LS1_contentHeader_DateTimeOutput1 {	@include elemAutoHeight(30);
}
#HD_LS1_contentHeader_DateTimeOutput1 {	@include elemTop(25);
}
#HD_LS1_contentHeader_DateTimeOutput1 {	@include elemLeft(0);
}
#HD_LS1_contentHeader_DateTimeOutput1 {	@include elemAutoWidth(315);
}
#HD_LS1_contentHeader_DateTimeOutput1 {	z-index: 1;
}
#HD_LS1_contentHeader_DateTimeOutput1 {	@include text-alignment(left);
}
#HD_LS1_contentHeader_DateTimeOutput1 {	font-size: 14px;
}
#HD_LS1_contentHeader_DateTimeOutput1 {	padding: 5px;
}
#HD_LS1_contentHeader_Image1 {	@include elemTop(0);
}
#HD_LS1_contentHeader_Image1 {	@include elemLeft(1168);
}
#HD_LS1_contentHeader_Image1 {	@include elemAutoWidth(90);
}
#HD_LS1_contentHeader_Image1 {	@include elemAutoHeight(60);
}
#HD_LS1_contentHeader_Image1 {	z-index: 2;
}
#HD_LS1_contentHeader_LabelTitle {	@include elemTop(0);
}
#HD_LS1_contentHeader_LabelTitle {	@include elemLeft(340);
}
#HD_LS1_contentHeader_LabelTitle {	@include elemAutoWidth(248);
}
#HD_LS1_contentHeader_LabelTitle {	@include elemAutoHeight(60);
}
#HD_LS1_contentHeader_LabelTitle {	z-index: 3;
}
#HD_LS1_contentHeader_LabelTitle {	span {
		padding: 0px;
	}
}
