@import "mixins.scss";
#HD_LS1_contentProduction1_OnlineChartHDA1 {	@include elemTop(0);
}
#HD_LS1_contentProduction1_OnlineChartHDA1 {	@include elemLeft(0);
}
#HD_LS1_contentProduction1_OnlineChartHDA1 {	@include elemWidth(1078);
}
#HD_LS1_contentProduction1_OnlineChartHDA1 {	@include elemHeight(660);
}
#HD_LS1_contentProduction1_OnlineChartHDA1 {	z-index: 0;
}
#HD_LS1_contentProduction1_BasicSliderGraphValue {	@include elemTop(10);
}
#HD_LS1_contentProduction1_BasicSliderGraphValue {	@include elemLeft(1070);
}
#HD_LS1_contentProduction1_BasicSliderGraphValue {	@include elemWidth(50);
}
#HD_LS1_contentProduction1_BasicSliderGraphValue {	@include elemHeight(590);
}
#HD_LS1_contentProduction1_BasicSliderGraphValue {	z-index: 1;
}
