/********************************************************           
* This CSS is used by BoxLayout.js module class.
*
* Author:  Alexander Gottfried
*
* Description: see ../libs/BoxLayout.js
*
********************************************************/

.box-container {
    display: flex;
    /* make main axis horizontal (default setting) */
    flex-direction: row;
    /* center items horizontally, in this case */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    height: 100%;
    width: 100%;

    &.orientation-right {
        flex-direction: row-reverse;
    }
    
    &.orientation-left {
        flex-direction: row;
    }
    
    &.orientation-bottom {
        flex-direction: column-reverse;
    }
    
    &.orientation-top {
        flex-direction: column;
    }
}

.box-class {
    display: flex;
    justify-content: center;
    /* for single line flex container */
    align-items: center;
    /* for multi-line flex container */
    align-content: center;
    width:100%;
    height: 100%;

    &.content-top-left {
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    &.content-top {
        justify-content: center;
        align-items: flex-start;
    }
    
    &.content-top-right {
        justify-content: flex-end;
        align-items: flex-start;
    }
    
    &.content-left {
        justify-content: flex-start;
        align-items: center;
    }
    
    &.content-center {
        justify-content: center;
        align-items: center;
    }
    
    &.content-right {
        justify-content: flex-end;
        align-items: center;
    }
    
    &.content-bottom-left {
        justify-content: flex-start;
        align-items: flex-end;
    }
    
    &.content-bottom {
        justify-content: center;
        align-items: flex-end;
    }
    
    &.content-bottom-right {
        justify-content: flex-end;
        align-items: flex-end;
    }
}