@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_default {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: transparent;
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_blue {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: rgba(0, 172, 236, 1);
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_purple {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: rgba(204, 80, 204, 1);
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_magenta {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: rgba(230, 73, 151, 1);
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_teal {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: rgba(61, 161, 144, 1);
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_green {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: rgba(81, 163, 75, 1);
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_yellow {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: rgba(150, 141, 11, 1);
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_gold {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: rgba(182, 69, 6, 1);
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_orange {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: rgba(255, 136, 0, 1);
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Rectangle/meta/Rectangle_base";
.widgets_brease_Rectangle_style_red {
@include widgets_brease_Rectangle_base; 
	border-width: 2px;
@include border-radius(5px);
	background-color: rgba(255, 71, 84, 1);
	border-color: rgba(169, 169, 169, 1);
	opacity: 1;

}
