@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChart/meta/BarChart_base";
.widgets_brease_BarChart_style_default {
@include widgets_brease_BarChart_base; 
	border-style: none;
.xAxis text {
	font-family: Arial;
}
.yAxis text {
	font-family: Arial;
}
.xAxis text {
	font-size: 14px;
}
.yAxis text {
	font-size: 14px;
}
.xAxis {
	stroke: rgba(169, 169, 169, 1);
}
.yAxis {
	stroke: rgba(169, 169, 169, 1);
}
.xAxis text {
	stroke: rgba(110, 110, 110, 1);
}
.yAxis text {
	stroke: rgba(110, 110, 110, 1);
}
.xAxis text {
	fill: rgba(110, 110, 110, 1);
}
.yAxis text {
	fill: rgba(110, 110, 110, 1);
}
.xAxisGrid line {
	stroke: rgba(169, 169, 169, 1);
}
.yAxisGrid line {
	stroke: rgba(169, 169, 169, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_default {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(255, 136, 0, 0.88);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_blue {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(0, 172, 236, 0.88);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_purple {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(204, 80, 204, 0.88);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_magenta {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(230, 73, 151, 0.88);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_teal {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(61, 161, 144, 0.88);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_green {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(81, 163, 75, 0.88);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_yellow {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(150, 141, 11, 0.88);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_gold {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(182, 69, 6, 1);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_orange {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(255, 136, 0, 1);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_red {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
rect.bar {
	fill: rgba(255, 71, 84, 0.88);
}
text {
	font-family: Arial;
}
text {
	font-size: 16px;
}
	opacity: 1;
text {
	fill: rgba(110, 110, 110, 1);
}

}
