@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Paper/meta/Paper_base";
.widgets_brease_Paper_style_default {
@include widgets_brease_Paper_base; 
	background-color: transparent;
	border-color: rgba(240, 240, 240, 1);
	border-width: 2px;
	border-style: solid;
@include border-radius(5px);
svg.breasePaperSVGContainer {
@include border-radius(5px);
}

}
