@import "mixins.scss";
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Table/meta/Table_base";
.widgets_brease_Table_style_default {
@include widgets_brease_Table_base; 
.tableHeader div {
	font-family: Arial;
}
.tableCells tbody tr td {
	font-family: Arial;
}
.tableCells tbody tr td:not(.override) {
	font-size: 16px;
}
.tableHeader div:not(.override) {
	font-size: 18px;
}
.tableHeader div:not(.override) {
@include font-weight-bold(false);
}
.tableCells tbody tr td:not(.override) {
@include font-weight-bold(false);
}
&.breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
	padding: 5px;
}
&.breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
	padding: 5px;
}
	border-style: none;
&:not(.disabled) .tableCells td:not(.selected):not(.override):not(.disabled):not([input=true]) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) {
	background-color: transparent;
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.even:not(.disabled):not(.override) {
	background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even):not(.selected):not(.disabled):not(.odd):not(.even):not(.override) {
	background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td.even:not(.selected):not(.disabled):not(.override) {
	background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.odd:not(.disabled):not(.override) {
	background-color: rgba(240, 240, 240, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd):not(.selected):not(.disabled):not(.odd):not(.even):not(.override) {
	background-color: rgba(240, 240, 240, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td.odd:not(.selected):not(.disabled):not(.override) {
	background-color: rgba(240, 240, 240, 1);
}
.tableCells tbody tr td:not(.override) {
	border-style: solid;
}
.dataTables_scrollBody.horizontalOrientation .tableCells tbody tr:first-child td:not(.override) {
	border-style: solid;
}
.dataTables_scrollBody.verticalOrientation .tableCells tbody tr td:first-child:not(.override) {
	border-style: solid;
}
.tableHeader div:not(.override) {
	border-style: solid;
}
.dataTables_scrollHead.verticalOrientation .tableHeader div:first-child:not(.override) {
	border-style: solid;
}
.dataTables_scrollHead.verticalOrientation .tableHeader div:not(.override) {
	border-style: solid;
}
.dataTables_scrollHead.horizontalOrientation .tableHeader div:first-child:not(.override) {
	border-style: solid;
}
.dataTables_scrollHead.horizontalOrientation .tableHeader div:not(.override) {
	border-style: solid;
}
.tableCells tbody tr td:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollBody.horizontalOrientation .tableCells tbody tr:first-child td:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollBody.verticalOrientation .tableCells tbody tr td:first-child:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.tableHeader div:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead div {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead.verticalOrientation .tableHeader div:first-child:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead.verticalOrientation .tableHeader div:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead.horizontalOrientation .tableHeader div:first-child:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead.horizontalOrientation .tableHeader div:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.tableCells tbody tr td:not(.override) {
	border-color: rgba(110, 110, 110, 1);
}
.tableHeader div:not(.override) {
	border-color: rgba(110, 110, 110, 1);
}
&:not(.disabled) .tableHeader>.headerElement:not(.override):not(.disabled) {
	background-color: rgba(210, 210, 210, 1);
}
&:not(.disabled)> .container > .dataTables_wrapper > .dataTables_scrollHead > .tableHeader > .headerElement:not(.override):not(.disabled) > span {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected.override:not(.disabled):not(.activeInput) {
	background-color: rgba(255, 136, 0, 1);
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected:not(.override):not(.disabled):not(.activeInput) {
	background-color: rgba(255, 136, 0, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override:not(.disabled):not(.activeInput) {
@include active-background-color(rgba(255, 136, 0, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override:not(.disabled):not(.activeInput) {
@include active-background-color(rgba(255, 136, 0, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.even td.selected:not(.override):not(.disabled):not(.activeInput) {
@include active-background-color(rgba(255, 136, 0, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.odd td.selected:not(.override):not(.disabled):not(.activeInput) {
@include active-background-color(rgba(255, 136, 0, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.override:not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override:not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override:not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td:not(.override):not(.disabled):not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected:not(.override):not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected:not(.override):not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
svg > g > path.unselected {
	fill: rgba(0, 0, 0, 1);
}
svg > g > path.selected {
	fill: rgba(255, 136, 0, 1);
}
&.disabled .verticalOrientation .tableCells tbody tr.even td.selected {
@include active-background-color(rgba(255, 196, 128, 1));
}
&.disabled .verticalOrientation .tableCells tbody tr.odd  td.selected {
@include active-background-color(rgba(255, 196, 128, 1));
}
&.verticalOrientation .tableCells tbody tr.even.selected.disabled {
@include active-background-color(rgba(255, 196, 128, 1));
}
&.verticalOrientation .tableCells tbody tr.odd.selected.disabled {
@include active-background-color(rgba(255, 196, 128, 1));
}
.verticalOrientation .tableCells tbody tr.even td.selected:not(.override).disabled {
@include active-background-color(rgba(255, 196, 128, 1));
}
.verticalOrientation .tableCells tbody tr.odd td.selected:not(.override).disabled {
@include active-background-color(rgba(255, 196, 128, 1));
}
.verticalOrientation .tableCells tbody tr.even td.selected.override.disabled {
@include active-background-color(rgba(255, 196, 128, 1));
}
.verticalOrientation .tableCells tbody tr.odd td.selected.override.disabled {
@include active-background-color(rgba(255, 196, 128, 1));
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected:not(.override) {
	background-color: rgba(255, 196, 128, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected:not(.override) {
	background-color: rgba(255, 196, 128, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override {
	background-color: rgba(255, 196, 128, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override {
	background-color: rgba(255, 196, 128, 1);
}
.horizontalOrientation .tableCells tbody tr.even td.selected:not(.override).disabled {
	background-color: rgba(255, 196, 128, 1);
}
.horizontalOrientation .tableCells tbody tr.odd td.selected:not(.override).disabled {
	background-color: rgba(255, 196, 128, 1);
}
.horizontalOrientation .tableCells tbody tr.even td.selected.override.disabled {
	background-color: rgba(255, 196, 128, 1);
}
.horizontalOrientation .tableCells tbody tr.odd td.selected.override.disabled {
	background-color: rgba(255, 196, 128, 1);
}
&.disabled .verticalOrientation .tableCells tbody tr.selected td.selected:not(.override):not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected:not(.override):not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected:not(.override):not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&.disabled .verticalOrientation .tableCells tbody tr.selected td.selected.override:not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override:not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override:not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected:not(.override).disabled:not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected:not(.override).disabled:not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected:not(.override).disabled:not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected.override.disabled:not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override.disabled:not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override.disabled:not(.activeInput) {
@include importantTextColor(rgba(0, 0, 0, 1));
}
&.disabled {
	background-color: transparent;
}
&.disabled .verticalOrientation .tableCells tbody tr.even td:not(.override) {
	background-color: rgba(245, 245, 245, 1);
}
&.disabled .verticalOrientation .tableCells tbody tr.even {
	background-color: rgba(245, 245, 245, 1);
}
.verticalOrientation .tableCells tbody tr.even td:not(.override).disabled {
	background-color: rgba(245, 245, 245, 1);
}
& .verticalOrientation .tableCells tbody tr.even.override.disabled {
	background-color: rgba(245, 245, 245, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even):not(.override) {
	background-color: rgba(245, 245, 245, 1);
}
 .horizontalOrientation .tableCells tbody tr td:nth-child(even).disabled:not([input=true]):not(.override):not(.selected) {
	background-color: rgba(245, 245, 245, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).override {
	background-color: rgba(245, 245, 245, 1);
}
 .horizontalOrientation .tableCells tbody tr td:nth-child(even).disabled:not([input=true]).override:not(.selected) {
	background-color: rgba(245, 245, 245, 1);
}
&.disabled .verticalOrientation .tableCells tbody tr.odd td:not(.override) {
	background-color: rgba(235, 235, 235, 1);
}
&.disabled .verticalOrientation .tableCells tbody tr.odd {
	background-color: rgba(235, 235, 235, 1);
}
.verticalOrientation .tableCells tbody tr.odd td:not(.override).disabled {
	background-color: rgba(235, 235, 235, 1);
}
.verticalOrientation .tableCells tbody tr.odd.disabled.override {
	background-color: rgba(235, 235, 235, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd):not(.override) {
	background-color: rgba(235, 235, 235, 1);
}
.horizontalOrientation .tableCells tbody tr td:nth-child(odd).disabled:not([input=true]):not(.override):not(.selected) {
	background-color: rgba(235, 235, 235, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).override {
	background-color: rgba(235, 235, 235, 1);
}
.horizontalOrientation .tableCells tbody tr td:nth-child(odd).disabled:not([input=true]).override:not(.selected) {
	background-color: rgba(235, 235, 235, 1);
}
&.disabled .tableHeader>.headerElement.override {
@include importantBackColor(rgba(210, 210, 210, 1));
}
&.disabled .tableHeader>.headerElement {
@include importantBackColor(rgba(210, 210, 210, 1));
}
.tableHeader>.headerElement:not(.override).disabled {
	background-color: rgba(210, 210, 210, 1);
}
.tableHeader>.headerElement.override.disabled {
	background-color: rgba(210, 210, 210, 1);
}
&.disabled .tableHeader>.headerElement.override > span {
@include importantTextColor(rgba(110, 110, 110, 1));
}
&.disabled .tableHeader>.headerElement > span {
@include importantTextColor(rgba(110, 110, 110, 1));
}
.tableHeader div:not(.override).disabled > span {
	color: rgba(110, 110, 110, 1);
}
.tableHeader div.override.disabled > span {
	color: rgba(110, 110, 110, 1);
}
&.disabled .tableCells td:not(.override) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&.disabled .tableCells td.override {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.odd td:not(.override):not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.even td:not(.override):not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.odd td.override:not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.even td.override:not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.odd td:not(.override):not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.even td:not(.override):not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.odd td.override:not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.even td.override:not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .tableCells tbody tr td.disabled {
	border-color: rgba(110, 110, 110, 1);
}
&.disabled .tableCells tbody tr td {
	border-color: rgba(110, 110, 110, 1);
}
&.disabled .tableHeader div {
	border-color: rgba(110, 110, 110, 1);
}
&.breaseTable .verticalOrientation .tableCells tbody tr td.nextItemDisabled {
	border-right-color: rgba(110, 110, 110, 1);
}
&.breaseTable .horizontalOrientation .tableCells tbody tr td.nextItemDisabled {
	border-bottom-color: rgba(110, 110, 110, 1);
}
&.breaseTable .tableCells tbody tr td.disabled {
	border-color: rgba(110, 110, 110, 1);
}
&.breaseTable .tableHeader div.disabled {
	border-color: rgba(110, 110, 110, 1);
}
&.breaseTable .horizontalOrientation .tableHeader div.nextItemDisabled {
	border-bottom-color: rgba(110, 110, 110, 1);
}
&.breaseTable .verticalOrientation .tableHeader div.nextItemDisabled {
	border-right-color: rgba(110, 110, 110, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td[input=true]:not(.override):not(.activeInput):not(.disabled):not(.selected) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td[input=true]:not(.override):not(.activeInput):not(.disabled):not(.selected) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td[input=true]:not(.override):not(.activeInput):not(.disabled):not(.selected) {
background-color: rgba(255, 255, 255, 1);;
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td[input=true]:not(.override):not(.activeInput):not(.disabled):not(.selected) {
background-color: rgba(255, 255, 255, 1);;
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr.odd td[input=true].activeInput.selected:not(.disabled) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr.odd.selected td[input=true].activeInput.selected:not(.disabled) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr.even td[input=true].activeInput.selected:not(.disabled) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr.even.selected td[input=true].activeInput.selected:not(.disabled) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr.odd td[input=true].activeInput.selected:not(.disabled) {
background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr.odd.selected td[input=true].activeInput.selected:not(.disabled) {
background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr.even td[input=true].activeInput.selected:not(.disabled) {
background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr.even.selected td[input=true].activeInput.selected:not(.disabled) {
background-color: rgba(255, 255, 255, 1);
}
@include border-radius(5px);

}
@import "C:/Program Files (x86)/BrAutomation/AS6/AS/TechnologyPackages/mappView/6.3.1/Widgets/brease/Table/meta/Table_base";
.widgets_brease_Table_style_TableNoActive {
@include widgets_brease_Table_base; 
.tableHeader div {
	font-family: Arial;
}
.tableCells tbody tr td {
	font-family: Arial;
}
.tableCells tbody tr td:not(.override) {
	font-size: 16px;
}
.tableHeader div:not(.override) {
	font-size: 18px;
}
.tableHeader div:not(.override) {
@include font-weight-bold(false);
}
.tableCells tbody tr td:not(.override) {
@include font-weight-bold(false);
}
&.breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
	padding: 5px;
}
&.breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
	padding: 5px;
}
	border-style: none;
&:not(.disabled) .tableCells td:not(.selected):not(.override):not(.disabled):not([input=true]) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) {
	background-color: transparent;
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.even:not(.disabled):not(.override) {
	background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even):not(.selected):not(.disabled):not(.odd):not(.even):not(.override) {
	background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td.even:not(.selected):not(.disabled):not(.override) {
	background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.odd:not(.disabled):not(.override) {
	background-color: rgba(240, 240, 240, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd):not(.selected):not(.disabled):not(.odd):not(.even):not(.override) {
	background-color: rgba(240, 240, 240, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td.odd:not(.selected):not(.disabled):not(.override) {
	background-color: rgba(240, 240, 240, 1);
}
.tableCells tbody tr td:not(.override) {
	border-style: solid;
}
.dataTables_scrollBody.horizontalOrientation .tableCells tbody tr:first-child td:not(.override) {
	border-style: solid;
}
.dataTables_scrollBody.verticalOrientation .tableCells tbody tr td:first-child:not(.override) {
	border-style: solid;
}
.tableHeader div:not(.override) {
	border-style: solid;
}
.dataTables_scrollHead.verticalOrientation .tableHeader div:first-child:not(.override) {
	border-style: solid;
}
.dataTables_scrollHead.verticalOrientation .tableHeader div:not(.override) {
	border-style: solid;
}
.dataTables_scrollHead.horizontalOrientation .tableHeader div:first-child:not(.override) {
	border-style: solid;
}
.dataTables_scrollHead.horizontalOrientation .tableHeader div:not(.override) {
	border-style: solid;
}
.tableCells tbody tr td:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollBody.horizontalOrientation .tableCells tbody tr:first-child td:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollBody.verticalOrientation .tableCells tbody tr td:first-child:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.tableHeader div:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead div {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead.verticalOrientation .tableHeader div:first-child:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead.verticalOrientation .tableHeader div:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead.horizontalOrientation .tableHeader div:first-child:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.dataTables_scrollHead.horizontalOrientation .tableHeader div:not(.override) {
	border-width: 0px 0px 1px 1px;
}
.tableCells tbody tr td:not(.override) {
	border-color: rgba(210, 210, 210, 1);
}
.tableHeader div:not(.override) {
	border-color: rgba(210, 210, 210, 1);
}
&:not(.disabled) .tableHeader>.headerElement:not(.override):not(.disabled) {
	background-color: rgba(210, 210, 210, 1);
}
&:not(.disabled)> .container > .dataTables_wrapper > .dataTables_scrollHead > .tableHeader > .headerElement:not(.override):not(.disabled) > span {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected.override:not(.disabled):not(.activeInput) {
	background-color: transparent;
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected:not(.override):not(.disabled):not(.activeInput) {
	background-color: transparent;
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override:not(.disabled):not(.activeInput) {
@include active-background-color(transparent);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override:not(.disabled):not(.activeInput) {
@include active-background-color(transparent);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.even td.selected:not(.override):not(.disabled):not(.activeInput) {
@include active-background-color(transparent);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.odd td.selected:not(.override):not(.disabled):not(.activeInput) {
@include active-background-color(transparent);
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.override:not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override:not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override:not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td:not(.override):not(.disabled):not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected:not(.override):not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected:not(.override):not(.activeInput):not(.disabled) {
	color: rgba(0, 0, 0, 1);
}
svg > g > path.unselected {
	fill: rgba(0, 0, 0, 1);
}
svg > g > path.selected {
	fill: rgba(255, 136, 0, 1);
}
&.disabled .verticalOrientation .tableCells tbody tr.even td.selected {
@include active-background-color(transparent);
}
&.disabled .verticalOrientation .tableCells tbody tr.odd  td.selected {
@include active-background-color(transparent);
}
&.verticalOrientation .tableCells tbody tr.even.selected.disabled {
@include active-background-color(transparent);
}
&.verticalOrientation .tableCells tbody tr.odd.selected.disabled {
@include active-background-color(transparent);
}
.verticalOrientation .tableCells tbody tr.even td.selected:not(.override).disabled {
@include active-background-color(transparent);
}
.verticalOrientation .tableCells tbody tr.odd td.selected:not(.override).disabled {
@include active-background-color(transparent);
}
.verticalOrientation .tableCells tbody tr.even td.selected.override.disabled {
@include active-background-color(transparent);
}
.verticalOrientation .tableCells tbody tr.odd td.selected.override.disabled {
@include active-background-color(transparent);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected:not(.override) {
	background-color: transparent;
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected:not(.override) {
	background-color: transparent;
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override {
	background-color: transparent;
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override {
	background-color: transparent;
}
.horizontalOrientation .tableCells tbody tr.even td.selected:not(.override).disabled {
	background-color: transparent;
}
.horizontalOrientation .tableCells tbody tr.odd td.selected:not(.override).disabled {
	background-color: transparent;
}
.horizontalOrientation .tableCells tbody tr.even td.selected.override.disabled {
	background-color: transparent;
}
.horizontalOrientation .tableCells tbody tr.odd td.selected.override.disabled {
	background-color: transparent;
}
&.disabled .verticalOrientation .tableCells tbody tr.selected td.selected:not(.override):not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected:not(.override):not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected:not(.override):not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&.disabled .verticalOrientation .tableCells tbody tr.selected td.selected.override:not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override:not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override:not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected:not(.override).disabled:not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected:not(.override).disabled:not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected:not(.override).disabled:not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected.override.disabled:not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override.disabled:not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override.disabled:not(.activeInput) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&.disabled {
	background-color: transparent;
}
&.disabled .verticalOrientation .tableCells tbody tr.even td:not(.override) {
	background-color: rgba(245, 245, 245, 1);
}
&.disabled .verticalOrientation .tableCells tbody tr.even {
	background-color: rgba(245, 245, 245, 1);
}
.verticalOrientation .tableCells tbody tr.even td:not(.override).disabled {
	background-color: rgba(245, 245, 245, 1);
}
& .verticalOrientation .tableCells tbody tr.even.override.disabled {
	background-color: rgba(245, 245, 245, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even):not(.override) {
	background-color: rgba(245, 245, 245, 1);
}
 .horizontalOrientation .tableCells tbody tr td:nth-child(even).disabled:not([input=true]):not(.override):not(.selected) {
	background-color: rgba(245, 245, 245, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(even).override {
	background-color: rgba(245, 245, 245, 1);
}
 .horizontalOrientation .tableCells tbody tr td:nth-child(even).disabled:not([input=true]).override:not(.selected) {
	background-color: rgba(245, 245, 245, 1);
}
&.disabled .verticalOrientation .tableCells tbody tr.odd td:not(.override) {
	background-color: rgba(235, 235, 235, 1);
}
&.disabled .verticalOrientation .tableCells tbody tr.odd {
	background-color: rgba(235, 235, 235, 1);
}
.verticalOrientation .tableCells tbody tr.odd td:not(.override).disabled {
	background-color: rgba(235, 235, 235, 1);
}
.verticalOrientation .tableCells tbody tr.odd.disabled.override {
	background-color: rgba(235, 235, 235, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd):not(.override) {
	background-color: rgba(235, 235, 235, 1);
}
.horizontalOrientation .tableCells tbody tr td:nth-child(odd).disabled:not([input=true]):not(.override):not(.selected) {
	background-color: rgba(235, 235, 235, 1);
}
&.disabled .horizontalOrientation .tableCells tbody tr td:nth-child(odd).override {
	background-color: rgba(235, 235, 235, 1);
}
.horizontalOrientation .tableCells tbody tr td:nth-child(odd).disabled:not([input=true]).override:not(.selected) {
	background-color: rgba(235, 235, 235, 1);
}
&.disabled .tableHeader>.headerElement.override {
@include importantBackColor(rgba(210, 210, 210, 1));
}
&.disabled .tableHeader>.headerElement {
@include importantBackColor(rgba(210, 210, 210, 1));
}
.tableHeader>.headerElement:not(.override).disabled {
	background-color: rgba(210, 210, 210, 1);
}
.tableHeader>.headerElement.override.disabled {
	background-color: rgba(210, 210, 210, 1);
}
&.disabled .tableHeader>.headerElement.override > span {
@include importantTextColor(rgba(110, 110, 110, 1));
}
&.disabled .tableHeader>.headerElement > span {
@include importantTextColor(rgba(110, 110, 110, 1));
}
.tableHeader div:not(.override).disabled > span {
	color: rgba(110, 110, 110, 1);
}
.tableHeader div.override.disabled > span {
	color: rgba(110, 110, 110, 1);
}
&.disabled .tableCells td:not(.override) {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&.disabled .tableCells td.override {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.odd td:not(.override):not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.even td:not(.override):not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.odd td.override:not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.even td.override:not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.odd td:not(.override):not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.even td:not(.override):not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.odd td.override:not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .horizontalOrientation .tableCells tbody tr.even td.override:not(.selected).disabled {
@include importantTextColor(rgba(210, 210, 210, 1));
}
&:not(.disabled) .tableCells tbody tr td.disabled {
	border-color: rgba(240, 240, 240, 1);
}
&.disabled .tableCells tbody tr td {
	border-color: rgba(240, 240, 240, 1);
}
&.disabled .tableHeader div {
	border-color: rgba(240, 240, 240, 1);
}
&.breaseTable .verticalOrientation .tableCells tbody tr td.nextItemDisabled {
	border-right-color: rgba(240, 240, 240, 1);
}
&.breaseTable .horizontalOrientation .tableCells tbody tr td.nextItemDisabled {
	border-bottom-color: rgba(240, 240, 240, 1);
}
&.breaseTable .tableCells tbody tr td.disabled {
	border-color: rgba(240, 240, 240, 1);
}
&.breaseTable .tableHeader div.disabled {
	border-color: rgba(240, 240, 240, 1);
}
&.breaseTable .horizontalOrientation .tableHeader div.nextItemDisabled {
	border-bottom-color: rgba(240, 240, 240, 1);
}
&.breaseTable .verticalOrientation .tableHeader div.nextItemDisabled {
	border-right-color: rgba(240, 240, 240, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td[input=true]:not(.override):not(.activeInput):not(.disabled):not(.selected) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td[input=true]:not(.override):not(.activeInput):not(.disabled):not(.selected) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td[input=true]:not(.override):not(.activeInput):not(.disabled):not(.selected) {
background-color: rgba(255, 255, 255, 1);;
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td[input=true]:not(.override):not(.activeInput):not(.disabled):not(.selected) {
background-color: rgba(255, 255, 255, 1);;
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr.odd td[input=true].activeInput.selected:not(.disabled) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr.odd.selected td[input=true].activeInput.selected:not(.disabled) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr.even td[input=true].activeInput.selected:not(.disabled) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr.even.selected td[input=true].activeInput.selected:not(.disabled) {
color: rgba(0, 0, 0, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr.odd td[input=true].activeInput.selected:not(.disabled) {
background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr.odd.selected td[input=true].activeInput.selected:not(.disabled) {
background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled).breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr.even td[input=true].activeInput.selected:not(.disabled) {
background-color: rgba(255, 255, 255, 1);
}
&:not(.disabled).breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr.even.selected td[input=true].activeInput.selected:not(.disabled) {
background-color: rgba(255, 255, 255, 1);
}
@include border-radius(5px);

}
