@import "mixins.scss";
@mixin system_brease_StartupProgressBar_base {
	background-color: rgba(250,250,250,1);
.startupProgressBar {
	background-color: rgba(110,110,110,1);
}
.startupProgressBar {
	border-radius: 2px;
}
.startupProgressBar {
	border-width: 0px;
}
.startupProgressBar {
	border-color: rgba(0,0,0,1);
}
.startupProgressBar {
	border-style: none;
}
.preLoadingInfoWrapper .preLoadingInfo {
	@include text-alignment(center);
}
.preLoadingInfoWrapper .preLoadingInfo {
	color: rgba(0,0,0,1);
}
.preLoadingInfoWrapper .preLoadingInfo {
	font-size: 14px;
}

}

.system_brease_StartupProgressBar_style_default {
@include system_brease_StartupProgressBar_base 
}
