@import "mixins.scss";
@mixin system_brease_SystemLogin_base {
&.breaseWindow {
	border-width: 2px;
}
&.breaseWindow {
	border-color: #333;
}
&.breaseWindow {
	border-style: solid;
}
&.breaseWindow {
	@include border-radius(0px);
}
&.breaseWindow {
	background-color: #FFF;
}
&.breaseWindow {
	@include backGroundGradient('');
}
&.breaseWindow {
	@include box-shadow(none);
}
&.breaseWindow .widgets_brease_TextInput_style_default input {
	@include text-alignment(center);
}
&.breaseWindow .widgets_brease_Password_style_default input {
	@include text-alignment(center);
}
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled) span {
	color: #000000;
}
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled) span {
	font-family: Arial;
}
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled) {
	font-size: 14px;
}
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled) {
	@include font-weight-bold(false);
}
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled) {
	@include font-style-italic(false);
}
&.breaseWindow .widgets_brease_Label_style_default.success:not(.disabled) span {
	color: #000000;
}
&.breaseWindow .widgets_brease_Label_style_default.error:not(.disabled) span {
	color: #000000;
}
&.breaseWindow .widgets_brease_Label_style_default.success:not(.disabled) span {
	font-family: Arial;
}
&.breaseWindow .widgets_brease_Label_style_default.error:not(.disabled) span {
	font-family: Arial;
}
&.breaseWindow .widgets_brease_Label_style_default.success:not(.disabled) {
	font-size: 14px;
}
&.breaseWindow .widgets_brease_Label_style_default.error:not(.disabled) {
	font-size: 14px;
}
&.breaseWindow .widgets_brease_Label_style_default.success:not(.disabled) {
	@include font-weight-bold(false);
}
&.breaseWindow .widgets_brease_Label_style_default.error:not(.disabled) {
	@include font-weight-bold(false);
}
&.breaseWindow .widgets_brease_Label_style_default.success:not(.disabled) {
	@include font-style-italic(false);
}
&.breaseWindow .widgets_brease_Label_style_default.error:not(.disabled) {
	@include font-style-italic(false);
}
&.breaseWindow .widgets_brease_Button_style_default {
	border-style: solid;
}
&.breaseWindow .widgets_brease_Button_style_default.active {
	border-style: solid;
}
&.breaseWindow .widgets_brease_Button_style_default.checked {
	border-style: solid;
}
&.breaseWindow .widgets_brease_Button_style_default.disabled {
	border-style: solid;
}
&.breaseWindow .widgets_brease_Button_style_default:not(.active):not(.checked) {
	border-width: 2px;
}
&.breaseWindow .widgets_brease_Button_style_default.disabled {
	border-width: 2px;
}
&.breaseWindow .widgets_brease_Button_style_default {
	@include border-radius(0px);
}
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active):not(.checked) {
	background-color: #DBDBDB;
}
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active):not(.checked) {
	@include backGroundGradient('');
}
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled) {
	@include backGroundGradient('');
}
&.breaseWindow .widgets_brease_Button_style_default.checked:not(.disabled) {
	@include backGroundGradient('');
}
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active):not(.checked) {
	border-color: #5B7C70;
}
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active):not(.checked) span {
	color: #000000;
}
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled):not(.editMode) {
	border-color: #FD7B01;
}
&.breaseWindow .widgets_brease_Button_style_default.checked:not(.disabled) {
	border-color: #FD7B01;
}
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled):not(.editMode) {
	border-width: 2px;
}
&.breaseWindow .widgets_brease_Button_style_default.checked:not(.disabled) {
	border-width: 2px;
}
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled):not(.editMode) {
	background-color: #DBDBDB;
}
&.breaseWindow .widgets_brease_Button_style_default.checked:not(.disabled) {
	background-color: #DBDBDB;
}
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled):not(.editMode) span {
	color: #000000;
}
&.breaseWindow .widgets_brease_Button_style_default.active.checked:not(.disabled) span {
	color: #000000;
}
&.breaseWindow .widgets_brease_Button_style_default span {
	font-size: 12px;
}
&.breaseWindow .widgets_brease_Button_style_default span {
	font-family: Arial;
}
&.breaseWindow .widgets_brease_Button_style_default span {
	@include font-weight-bold(false);
}
&.breaseWindow .widgets_brease_Button_style_default span {
	@include font-style-italic(false);
}
&.breaseWindow .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	color: #333333;
}
&.breaseWindow .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	color: #333333;
}
&.breaseWindow .widgets_brease_TextInput_style_default input::placeholder {
	color: #C8C8C8;
}
&.breaseWindow .widgets_brease_Password_style_default input::placeholder {
	color: #C8C8C8;
}
&.breaseWindow .widgets_brease_TextInput_style_default:not(.disabled).active input {
	color: #333333;
}
&.breaseWindow .widgets_brease_Password_style_default:not(.disabled).active input {
	color: #333333;
}
&.breaseWindow .widgets_brease_TextInput_style_default input {
	font-family: Arial;
}
&.breaseWindow .widgets_brease_Password_style_default input {
	font-family: Arial;
}
&.breaseWindow .widgets_brease_TextInput_style_default input {
	font-size: 21px;
}
&.breaseWindow .widgets_brease_Password_style_default input {
	font-size: 21px;
}
&.breaseWindow .widgets_brease_TextInput_style_default input {
	@include font-weight-bold(false);
}
&.breaseWindow .widgets_brease_Password_style_default input {
	@include font-weight-bold(false);
}
&.breaseWindow .widgets_brease_TextInput_style_default input {
	@include font-style-italic(false);
}
&.breaseWindow .widgets_brease_Password_style_default input {
	@include font-style-italic(false);
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active).DropDownBoxView {
	@include border-radius(0px);
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView {
	@include border-radius(0px);
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ListView.Container {
	@include border-radius(0px);
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView:not(.itemSelected):not(.itemDisabled) {
	background-color: #DBDBDB;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView.itemSelected:not(.itemDisabled) {
	background-color: #DBDBDB;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView:not(.itemSelected):not(.itemDisabled) {
	@include backGroundGradient('');
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView.itemSelected:not(.itemDisabled) {
	@include backGroundGradient('');
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView {
	border-style: solid;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView.lastItem {
	border-style: solid;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView:not(.itemSelected) {
	border-width: 2px;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView.itemSelected {
	border-width: 2px;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView:not(.itemSelected):not(.itemDisabled) {
	border-color: #5B7C70;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ListView.Container {
	border-color: #5B7C70;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView.itemSelected:not(.itemDisabled) {
	border-color: #FD7B01;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
	color: #000000;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected {
	color: #000000;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView > .ImageView.ImageIndicator {
	@include display(false, 'flex');
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView:not(.itemSelected):not(.itemDisabled) > .ImageView.ImageIndicator svg {
	fill: #000000;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) > .ItemView.itemSelected:not(.itemDisabled) > .ImageView.ImageIndicator svg {
	fill: #000000;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) .TextView {
	font-size: 12px;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) .TextView {
	font-family: Arial;
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) .TextView {
	@include font-weight-bold(true);
}
&.breaseWindow .widgets_brease_LanguageSelector_style_default:not(.disabled):not(.active) .TextView {
	@include font-style-italic(false);
}

}

